/*================= GLOBAL ==================*/
:root {
  --accent-color: #e9532e;
  --dk-accent-color :#e44119;
}

body {
    font-family: 'Arimo', sans-serif;
    background-color: #011c39;
}

h1 {
    font-weight: 700;
}

.text--white {
    color: var(--bs-white);
}
/*================= MAIN ==================*/
#pw-generator-results {
    background-color: #ccc;
    padding: .75rem;
    margin-bottom: 2rem;
}

#pw-generator-customizer {
  display: inline-flex;
  flex-direction: column;
}

#pw-generator-customizer .form-check {
    font-size: 1.125rem;
    margin-bottom: .625rem;
}

#number-range-output {
    width: 4rem; 
    display: inline-block;
    margin-right: .25rem;
    text-align: center;
    font-weight: 700;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;
    width: 75%;
    height: 1.125rem;
    background-color: #e9e9e9;
    border-color: #ddd;
    color: #333;
    text-shadow: 0 1px 0 #eee;
    border-radius: .3125em;
    font-weight: 700;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;   
  }
  
  .slider:hover {
    opacity: 1;
  }

  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    /* background-color: #4CAF50; */
    background-color: #eb6645;
    cursor: pointer;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.15);
    box-shadow: 0 1px 3px rgba(0,0,0,.15);
    border-radius: 5px;
  }
  
  .slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    /* background-color: #4CAF50; */
    background-color:#eb6645;
    cursor: pointer;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.15);
    box-shadow: 0 1px 3px rgba(0,0,0,.15);
    border-radius: 5px;
  }
  .form-check-input[type=checkbox] {
    font-size: larger;
  }
  
  .form-check-input[type=checkbox]:checked {
    background-color: var(--accent-color);
    border-color: var(--dk-accent-color);
  }

  .btn--custom {
    background-color: var(--accent-color);
  }

  .btn.btn--custom:hover {
    background-color: var(--dk-accent-color);
    color: var(--bs-white);
  }
 